
* {
  box-sizing: border-box;
}

body {
  font-family: 'Cousine', monospace;
}

header {
  height: 300px;
  width: 100%;
  background: #2c022c;
  text-align: center;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

p {
  line-height: 20px;
}

a {
  text-decoration: underline;
  color: blue;
}

a:hover {
  cursor: pointer;
}

img {
  width: 225px;
  margin-top: 33px;
}

.form {
  position: relative;
  margin: 25px auto;
  text-align: left;
  width: 80%;
}

.folders {
  position: relative;
  margin: 0 auto;
  width: 80%;
}

.folder {
  margin: 15px 0;
}

.details {
  margin-bottom: 10px;
  margin-left: 25px;
}
