
* {
  box-sizing: border-box;
}

body {
  font-family: 'Cousine', monospace;
}

header {
  height: 300px;
  width: 100%;
  background: #2c022c;
  text-align: center;
}

img {
  width: 225px;
  margin-top: 33px;
}

form {
  position: relative;
  margin: 15px auto;
  text-align: center;
}

.folders {
  position: relative;
  margin: 0 auto;
  width: 80%;
}

.folder {
  margin: 10px 0;
}
